
/*components*/
.common-btn {
    background: white;
    border: 1px solid black;
    padding: 10px 50px;
    margin: 0;
    color: black;
    cursor: pointer;
}

.common-btn:hover {
    background: black;
    color: white;
}

.round-btn {
    width: 100px;
    height: 100px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    cursor: pointer;
}
.round-btn:hover {
    background: black;
    color: white;
}
.load-file-btn {
    margin: 10px 0;
}
.load-file-btn label {
    background: white;
    border: 1px solid black;
    padding: 10px 50px;
    margin: 0;
    color: black;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
}

.load-file-btn label:hover {
    background: black;
    color: white;
}

li {
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

form input[type="file"]{
    display: none;
}

.modal-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 0;
    background-color: #cad7ed50;
    width: 100%; 
    height: 100%;
}

.modal-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    background-color: white;
}
.modal-form form {
    margin-top: 10px;
    width: 100%;
    overflow-y: scroll;
    border-top: 1px solid gray;
}

.modal-form  form p {
    text-align: center;
    margin-bottom: 0;
}

.modal-form form input {
    width: 100%;
    margin: 10px 0;
}
.modal-form form textarea {
    width: 100%;
}

