.edit-author {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 0;
    background-color: #cad7ed50;
    width: 100%; 
    height: 100%;
}

.edit-form {
    width: 500px;
    height: 500px;
    padding: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
}
.edit-form form {
    margin-top: 10px;
    width: 100%;
    overflow-y: scroll;
    border-top: 1px solid gray;
}

.edit-form form p {
    text-align: center;
    margin-bottom: 0;
}

.edit-form form input {
    width: 100%;
    margin: 10px 0;
}
.edit-form form textarea {
    width: 100%;
}

.edit-form form input[type="file"]{
    display: none;
}
